__pycache__/
*.ipynb
!notebooks/Detect_image_real_or_AI.ipynb

.DS_Store
.venv/
.cache/

MSCocoa_dataset/
mscocoa_images/
Model_dataset_new/
Model_dataset_old/

chrome_extension_latest.zip

chrome_extension_latest/icons/*.jpg

mobile_app/.expo/
mobile_app/node_modules/
